#include "resource.h"
#include "windows.h"

IDD_MAIN DIALOGEX 0, 0, 272, 95
STYLE DS_SETFONT | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_CONTROLPARENT | WS_EX_APPWINDOW
CAPTION "MiniSplit"
FONT 8, "Tahoma", 0, 0, 0x1
BEGIN
    LTEXT           "File Name:",IDC_STATIC,5,22,37,8
    EDITTEXT        IDC_FILE,47,20,181,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Browse",IDC_FILE_BROWSE,233,19,35,14,BS_FLAT
    LTEXT           "Destination:",IDC_STATIC,5,40,37,8
    EDITTEXT        IDC_FOLDER,47,38,181,12,ES_AUTOHSCROLL
    PUSHBUTTON      "B&rowse",IDC_FOLDER_BROWSE,233,37,35,14,BS_FLAT
    LTEXT           "Split Into:",IDC_STATIC,5,58,37,8
    EDITTEXT        IDC_SPLIT_SIZE,47,56,58,12,ES_CENTER | ES_AUTOHSCROLL
    COMBOBOX        IDC_SPLIT_TYPE,109,56,75,207,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    CONTROL         "Delete Source",IDC_DELETE_SOURCE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,189,57,60,11
    DEFPUSHBUTTON   "&Do It",IDC_DO_IT,55,77,50,14,BS_FLAT
    PUSHBUTTON      "&About",IDC_ABOUT,109,77,50,14,BS_FLAT
    PUSHBUTTON      "&Close",IDC_CLOSE,163,76,50,14,BS_FLAT
    LTEXT           "Operation:",IDC_STATIC,5,5,36,8
    CONTROL         "&Split",IDC_SPLIT_RADIO,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,47,5,29,10
    CONTROL         "&Join",IDC_JOIN_RADIO,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,82,5,29,10
    CONTROL         "Progress",IDC_PROGRESS,"msctls_progress32",WS_BORDER,
                    116,5,152,10
END

IDI_MAIN                ICON                    "MiniSplit.ico"
1                       24						"MiniSplit.exe.manifest"
